<h1 align="center">All Alpha Bloggers</h1>
<hr class="md-4">

<div align="center">

  <% @users.each do |user| %>

    <ul class="listing">

      <div class="row-2">
        <div class="card border-info mb-3" style="max-width: 50rem;">
          <div class="card card-body text-info">

            <li><%= link_to gravatar_for(user), user_path(user) %></li>

            <li class="article-title">
              <h4 class="card-title"> <%= link_to user.username, user_path(user) %></h4>
             

            </li>
            <p class="card-text"><%= user.short_bio%></p>

           
          </div>
           <div class="card-footer text-muted">
                <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            </div>

      </div>
      </div>
    </ul>

<% end %>

</div>