<div class="center jumbotron">
  <h1 style="text-align:center"> WELCOME TO ALPHA BLOG </h1>
  <hr class="my-4">
  <%= link_to 'Sign up now',signup_path,class:'btn btn-primary btn-lg btn-xlarge',style:'margin-top: 28.5%;'%>
</div>
<%= render partial: 'latest',locals: {articles:Article.latest} %>
<br>


