<h1 style="text-align:center"> WELCOME TO RUBY ON RAILS PAGE </h1>
<image src="https://www.ruby-lang.org/images/header-ruby-logo.png" width="130" heigth="130" style="margin-left:45%;margin-top:5%;padding: 0"></image>
<br>
<%= link_to('About Us',about_path) %>
