@import 'bootstrap';
#backc {
    background-color:#0f1922 !important;
}
#logo
{
  float:left;
  font-size: 1.7em;
  color:#fff;

  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover
{
  color:#fff;
  text-decoration: none;
}
#u-list li a
{
  color:#2f96e8;
}

.container
{
  margin-bottom: 10%;
}
.center
{
  text-align: center;
}

.jumbotron
{
  background-image:asset-url('cover_image.jpg');
  background-size: cover;
  height: 618px;
  margin-top: 30px;
  h1
  {
    font-size: 30px;
    color: black;
    margin-top: 50px;
    text-align: center;
  }
}
.btn-xlarge
{
  font-size: 1.7em;
  background-color:transparent;
  color: black;
}
.article-actions
{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    /* background-color: #f8d7da; */
    color: #ff4d4d;
}

.listing {

list-style: none;

padding-left: 0;


}
.article-title
{
  color:white;
}

/* editim i borderave tek users/index*/
.border-info {
    border-color: #D0D0D0 !important;
}

/* pagination design*/
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.25rem;
    margin-left: 21.5%;
    margin-top: 2.5%;
    padding: 5;

    li a
  {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 0;
        border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

#sidebar-menu .main-menu a {
    display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
  color: #11427D;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}


#transform-img
 {

    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition:transform 2s;

    img:hover {
        /*width: 300px;
        height: 300px;*/
        -webkit-transform: rotate(180deg); /* Safari */
        transform: scale(1.25,1.25);
        -webkit-box-shadow: 0px 0px 11px 5px rgba(47,150,232,0.78);
-moz-box-shadow: 0px 0px 11px 5px rgba(47,150,232,0.78);
box-shadow: 0px 0px 11px 5px rgba(47,150,232,0.78);

    }

    small{
      float: left;
                    font-size: larger;
                    margin-top: 50px;
                    color: darkgray;
                    margin-left:5px;
    }
}
#transform-img:active,
#transform-img:focus,
#transform-img.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#text-area-comment {
  background-image: asset-url("comment.png");
    background-repeat: no-repeat;
    text-indent: 20px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);*/
  border: 1px solid rgba(0,0,0,.09);
  /*border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;*/
  border-radius: 3px;
  /*border-width: medium 1px 1px medium;*/
  box-shadow:0 1px 4px rgba(0,0,0,.03);
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
#text-area-comment::placeholder {
  color:#cbcbcb;
  padding-left:25px;
  padding-top:20px;
}


#text-area-comment:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(47,150,232,0.78);
-moz-box-shadow: 0px 0px 11px 5px rgba(47,150,232,0.78);
box-shadow: 0px 0px 8px 3px rgba(47,150,232,0.78);
}



footer{
   background-color: #0f1922 !important;

    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
   color:#2f96e8;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
    float: left;
}
