<footer>
        <p>Copyright ©
         <a style="color:white;" href="http://localhost:3000/">Alpha-Blog 
         </a> by 
         <a style="color:white;" href="www.github.com/BetimShala">Betim Shala </a>.</p>
         <%= link_to "About",pages_about_path,style:'float:right;color:white;margin-right:1%;margin-top:8px;'%>
</footer>